In [2]:
import os
import json
import pandas as pd
import numpy as np

In [2]:
if not os.path.exists('RS_filtered.json'):
    print('RS_filtered.json not found, starting to parse RS_2016-11')
    if os.path.exists('RS_2016-11'): 
        file = open("RS_2016-11", "r")
        filtered_subs = []
        for idx, line in enumerate(file):
            s = json.loads(line)
            filtered_subs.append({
                'num_comments': s['num_comments'],
                'title': s['title'],
                'created_utc': s['created_utc'],
            })

        json.dump(filtered_subs, open('RS_filtered.json', 'w'))
    else:
        print('RS_2016-11 not found, please download RS_2016-11.zst from')
        print('http://files.pushshift.io/reddit/comments/')
        print('and extract it using unzstd')

In [2]:
RS_data = json.load(open('RS_filtered.json', 'r'))
print(len(RS_data))
print(RS_data[0].keys())
print(RS_data[0])
del RS_data  # Release the memory so the notebook kernel does not crash when reading the next file

8660144
dict_keys(['num_comments', 'title', 'created_utc'])
{'num_comments': 0, 'title': '[#572|+458|67] Dragon PTSD (Now 100% Rule 1C Friendly!) [/r/TumblrInAction]', 'created_utc': 1477958400}

In [4]:
if not os.path.exists('News_filtered.json'):
    news_subdirs = ['news_714_20170904122143/714_webhose-2017-02_20170904122220',
                    'news_714_20170904122143/714_webhose-2017-03_20170904122636',
                    'eng_news624_20170904081113/624_webhose-2016-11_20170904081158'
                   ]
    filtered_news = []
    for path in news_subdirs:
        if os.path.exists(path):
            onlyfiles = [f for f in os.listdir(path) if os.path.isfile(os.path.join(path, f))]
            for filepath in onlyfiles:
                s = json.load(open(os.path.join(path, filepath), 'r'))
                filtered_news.append({
                    'likes': s['thread']['social']['facebook']['likes'],
                    'text': s['text'],
                    'published': s['published'],
                })
        else:
            print("Path:", path, "not found")
            print("Please download from:")
            print("https://webhose.io/free-datasets/articles-by-virality/")
            print("https://webhose.io/free-datasets/language/")

    json.dump(filtered_news, open('News_filtered.json', 'w'))

In [4]:
News_data = json.load(open('News_filtered.json', 'r'))
print(len(News_data))
print(News_data[0].keys())
print(News_data[0])
del News_data  # Release the memory so the notebook kernel does not crash when reading the next file

670492
dict_keys(['likes', 'text', 'published'])
{'likes': 312, 'text': 'In 37 villages of Champawat, all voters are over 60 years In 37 villages of Champawat, all voters are over 60 years Vineet Upadhyay As many as 37 villages in the Champawat district of Kumaon have no young voters any more. District officials say all residents in these 37 villages are above 60 years of age -the next generation having moved out in search of jobs. | TNN | Feb 3, 2017, 07.00 AM IST Abandoned houses in Chuka village on the Indo-Nepal border NAINITAL: As many as 37 villages in the Champawat district of Kumaon have no young voters any more. District officials say all residents in these 37 villages are above 60 years of age -the next generation having moved out in search of jobs. Many villages have fewer than a hundred residents. Kwarsingh has 25 residents, Tarkuli and Chhoragaon, 35, and Kood 65 villagers. "There\'s nothing to keep the youth in the villages. There has been no development whatsoever. Though the Tanakpur power plant on the river Sharda river is just 9km from Thapliyalkheda village, home to 45 families, this village has no electricity ," Chandrashekhar Dwivedi, a resident of Champawat, told TOI. The 2011 census showed that of Uttarakhand\'s 16,793 villages 1,053 had no inhabitants and over 400 had a population of less than 10. The number of such `ghost villages\' is believed to have gone up after the June 2013 flash floods. Estimates are that almost 3,500 villages in the state have little or no population left. Damodardutt Joshi, 62, of Kwarsingh, says since 2012, the numbers started dwindling rapidly. Disillusioned with the lack of facilities youngsters migrated to bigger towns. "In 2012, there were almost 200 villag ers. We are just 25 people today. I have three sons, all of whom left saying there was no future for them here," says Joshi, his eyes brimming over at the dismal state of his village which is accessibly only after an almost 5km trek. Uttarakhand was carved out of UP in 2000, the separate state movement also fuelled by the belief that the hill state\'s people would have better access to infrastructure. Not only has this not happened, the exodus from the hills is a severe strain on towns, in particular state capital Dehradun where many end up in search of jobs and medical facilities. "It\'s a sad reflection on work done by netas that successive governments have failed to stem the growing tide of migration or have policy for inclusive development of the hills," points out Nainital-based sociologist Ramesh Bisht. Asked about the absence of young voters in Champawat\'s villages, HG Bhatt, chief district development officer said, "The government has many schemes to check migration. But it will take time for results to show." Stay updated on the go with Times of India News App. Click here to download it for your device. RELATED ', 'published': '2017-02-03T08:42:00.000+02:00'}

In [3]:
file_path = 'reddit.parquet'
if os.path.exists(file_path):
    df = pd.read_parquet(file_path)
    display(df.info())
    display(df.head(10))
    display(df.groupby('date').count())
del df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8660144 entries, 0 to 8660143
Data columns (total 6 columns):
title           object
num_comments    int32
date            object
year            int32
month           category
day             category
dtypes: category(2), int32(2), object(2)
memory usage: 214.7+ MB

None

,title,num_comments,date,year,month,day
0,[#572|+458|67] Dragon PTSD (Now 100% Rule 1C F...,0,2016-11-01,2016,11,1
1,Weird request outbreak prime quest,5,2016-11-01,2016,11,1
2,"[OC] My cat DM'd our most recent session, resu...",7,2016-11-01,2016,11,1
3,Trace Bundy -- TEDx Set [Acoustic Guitar] (2015),0,2016-11-01,2016,11,1
4,Broadway Grill,1,2016-11-01,2016,11,1
5,Halloween dinner,0,2016-11-01,2016,11,1
6,Happy Halloween! Witch Mercy Cosplay (self),9,2016-11-01,2016,11,1
7,What's the beef between Lil Yachty and Soulja ...,1,2016-11-01,2016,11,1
8,Any good artists on here that can design me a ...,70,2016-11-01,2016,11,1
9,Had a very impressive blop come in for a bath ...,0,2016-11-01,2016,11,1

             title  num_comments    year   month     day
date
2016-11-01  286772        286772  286772  286772  286772
2016-11-02  305549        305549  305549  305549  305549
2016-11-03  307862        307862  307862  307862  307862
2016-11-04  301071        301071  301071  301071  301071
2016-11-05  261469        261469  261469  261469  261469
2016-11-06  265441        265441  265441  265441  265441
2016-11-07  306152        306152  306152  306152  306152
2016-11-08  321266        321266  321266  321266  321266
2016-11-09  350571        350571  350571  350571  350571
2016-11-10  299085        299085  299085  299085  299085
2016-11-11  291792        291792  291792  291792  291792
2016-11-12  247368        247368  247368  247368  247368
2016-11-13  254742        254742  254742  254742  254742
2016-11-14  287051        287051  287051  287051  287051
2016-11-15  297534        297534  297534  297534  297534
2016-11-16  297689        297689  297689  297689  297689
2016-11-17  295153        295153  295153  295153  295153
2016-11-18  288585        288585  288585  288585  288585
2016-11-19  250598        250598  250598  250598  250598
2016-11-20  250384        250384  250384  250384  250384
2016-11-21  290936        290936  290936  290936  290936
2016-11-22  299665        299665  299665  299665  299665
2016-11-23  294775        294775  294775  294775  294775
2016-11-24  273000        273000  273000  273000  273000
2016-11-25  265846        265846  265846  265846  265846
2016-11-26  260137        260137  260137  260137  260137
2016-11-27  266662        266662  266662  266662  266662
2016-11-28  303640        303640  303640  303640  303640
2016-11-29  313169        313169  313169  313169  313169
2016-11-30  311255        311255  311255  311255  311255
2016-12-01   14925         14925   14925   14925   14925

In [3]:
file_path = 'all-the-news-2-1.csv'
headers = [
    "date", "year", "month", "day",
    "author", "title", "article", "url",
    "section", "publication"
]
if os.path.exists(file_path):
    df = pd.read_csv(file_path, dtype={h: np.str for h in headers},
                     usecols=["date", "year", "month", "day", "title"],
                     error_bad_lines=False)
    # display(df.info())
    display(df.head(10))
    # display(df.groupby('date').count())

,date,year,month,day,title
0,2016-12-09 18:31:00,2016,12.0,9,We should take concerns about the health of li...
1,2016-10-07 21:26:46,2016,10.0,7,Colts GM Ryan Grigson says Andrew Luck's contr...
2,2018-01-26 00:00:00,2018,1.0,26,Trump denies report he ordered Mueller fired
3,2019-06-27 00:00:00,2019,6.0,27,France's Sarkozy reveals his 'Passions' but in...
4,2016-01-27 00:00:00,2016,1.0,27,Paris Hilton: Woman In Black For Uncle Monty's...
5,2019-06-17 00:00:00,2019,6.0,17,"ECB's Coeure: If we decide to cut rates, we'd ..."
6,2019-06-23 00:00:00,2019,6.0,23,"Venezuela detains six military, police officia..."
7,2018-05-02 17:09:00,2018,5.0,2,You Can Trick Your Brain Into Being More Focused
8,2016-05-18 13:00:06,2016,5.0,18,How to watch the Google I/O keynote live
9,2017-03-02 00:00:00,2017,3.0,2,China is dismissing unfavorable media reports ...

In [7]:
df[df.year=="2016"][df.month=="11.0"].groupby(['day']).count()

<ipython-input-7-34edfebf3926>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.year=="2016"][df.month=="11.0"].groupby(['day']).count()

     date  year  month  title
day
1    2320  2320   2320   2320
10   2566  2566   2566   2566
11   2023  2023   2023   2023
12    603   603    603    603
13    701   701    701    701
14   2421  2421   2421   2421
15   2402  2402   2402   2402
16   2257  2257   2257   2257
17   2338  2338   2338   2338
18   1926  1926   1926   1926
19    591   591    591    591
2    2419  2419   2419   2419
20    654   654    654    654
21   1970  1970   1970   1970
22   2032  2032   2032   2032
23   1906  1906   1906   1906
24   1164  1164   1164   1164
25   1162  1162   1162   1162
26    572   572    572    572
27    565   565    565    565
28   1918  1918   1918   1918
29   2186  2186   2186   2186
3    2605  2605   2605   2605
30   2225  2225   2225   2225
4    2223  2223   2223   2223
5     650   650    650    650
6     769   769    769    769
7    2330  2330   2330   2330
8    2501  2501   2501   2501
9    2848  2848   2848   2848